.otp-body {
    position: relative;
    inline-size: 420px;
    block-size: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
}

.otp-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

form h2 {
    font-size: 36px;
    text-align: center;
}

form .input-box {
    position: relative;
    inline-size: 100%;
    block-size: 50px;
    margin: 30px 0;
}

.input-box input {
    inline-size: 100%;
    block-size: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
