.pond-list-container {
    text-align: center;
    padding: 30px 20px;
}

h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

.pond-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pond-card {
    backdrop-filter: blur(30px);
    border-radius: 12px;
    overflow: hidden;
    width: 430px;
    padding: 21px;
    text-align: left;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.pond-content {
    display: flex;
    align-items: center;
}

.pond-image {
    width: 190px;
    height: 245px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 23px;
}

.pond-details {
    margin-top: 10px;
    color: #ecf0f1;
    flex-grow: 1;
}

.pond-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1.5);
}

.pond-details strong {
    font-weight: 900;
    font-size: 1.2em;
    color: #f39c12;
}

.pond-details p {
    margin: 5px 0;
    font-size: 16.5px;
    line-height: 1.5;
    text-align: left;
    color: white;

}

.add-new-pond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #27ae60;
    width: 320px;
    height: 200px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s;
}

.add-new-pond:hover {
    background-color: #219150;
    transform: translateY(-3px);
}

.add-icon {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.add-new-pond p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}

/* Button styles */
.delete-pond-button,
.edit-pond-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-pond-button:hover {
    background-color: #c0392b;
}

.edit-pond-button {
    background-color: #2980b9;
}

.edit-pond-button:hover {
    background-color: #1f6287;
}

.error-message {
    color: #e74c3c; /* Red for error messages */
    margin: 10px 0;
}

.success-message {
    color: #27ae60; /* Green for success messages */
    margin: 10px 0;
}
