.footer {
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
  color: #000 !important;
  
  .footer-logo {
    img {
      border: 2px solid white;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
      }
    }
    h4 {
      color: white !important;
    }
  }

  .footer-links {
    li {
      margin-bottom: 0.5rem;

      a {
        color: white !important;
        transition: color 0.3s ease;

        &:hover {
          color: #333 !important;
          text-decoration: none;
        }
      }
    }
  }

  .footer-contact {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      color: white !important;

      svg {
        margin-right: 0.5rem;
        color: white !important;
      }
    }
  }

  .social-icons {
    a {
      transition: transform 0.3s ease, color 0.3s ease;
      color: white !important;

      &:hover {
        transform: scale(1.1);
        color: #333 !important;
      }
    }
  }

  h5 {
    color: white!important;
  }

  p {
    color: white !important;
  }

  .hover-white {
    transition: color 0.3s ease;
    &:hover {
      color: #333 !important;
    }
  }
  .text-white {
    color: white !important;
  }
  svg {
    fill: white !important;
  }
  .hover-scale {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 767px) {
  .footer {
    text-align: center;

    .footer-logo,
    .social-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer-contact li {
      justify-content: center;
    }
  }
}
