$bannerimage: "/assets/image/ho-ca-koi.webp";
$bannerinfo: "/assets/image/peakpx.jpg";
$newsimage: "/assets/image/koiinart.jpg";
 .banner{
    background-repeat:no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative; 
  z-index: 0; 
    .home_title{
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }
} 
.container-home{
    max-width: 1570px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
} 
.home_info{
    padding: 35px 0 ;
}
.row-home{
    display: flex;
    flex-wrap: wrap;
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.row-home.animate{
    opacity: 1; /* Hiển thị phần tử */
    transform: translateY(0); /* Đưa phần tử trở về vị trí ban đầu */
}
.home-new-title{
    display: flex;
}
.container-home-new-slider{
    max-width: 1200px;
    height: 300px;
}
.home-content{
    padding: 60px 0 10px 0;
}
.news-container {
    width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
h1{
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}
.news-card {
    display: flex;
    background-color: #fafafa;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.news-card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.slider-container {
    overflow: visible; 
  z-index: 1; 
  position: relative; 
  }
.news-image {
    flex: 0 0 100px; 
    margin-right: 10px;
}

.news-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-header {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 2px solid #ddd;
}

.news-header {
    color: #00a79d;
}

.news-content {
    font-size: 14px;
    color: #555;
}

.news-content p {
    margin: 5px 0;
}

.time {
    font-size: 12px;
    color: #999;
}
.news-content-des {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
@media (min-width: 1201px) {
    .news-content-des {
        width: 900px;
    }
    .mainkoi{
        border-radius: 50%;
        width: 570px;
        height: 570px;
      }
}
@media (max-width: 1200px) {
    .news-content-des {
        width: 800px;
    }
    .mainkoi{
        border-radius: 50%;
        width: 570px;
        height: 570px;
      }
}

@media (max-width: 992px) {
    .news-content-des {
        width: 600px;
    }
    .mainkoi{
        border-radius: 50%;
        width: 570px;
        height: 570px;
      }
}

@media (max-width: 768px) {
    .news-content-des {
        width: 545px;
    }
    .mainkoi{
        border-radius: 50%;
        width: 500px;
        height: 500px;
      }
}
@media (max-width: 425px) {
    .banner{
        display: none;
    }
    .koicare-intro{
        display: none;
      }
}
  .shop-item{
    text-align: center;
  }
  .shop-item-image img{
    width: 225px;
    height: 225px;
  }
  .shop-item-content{
    display: flex;
    justify-content: center;
    span{
        padding: 0 25px;
    }
    button{
        background-color: #007bff;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
  }
  .koicare-intro{
    text-align: center;
    height: 285px;
  }
