.pond-form-container {
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border: 3px solid #00aaff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.pond-form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.pond-form-container .image-upload {
    background-color: #eaeaea;
    padding: 60px 30px;
    border: 3px dashed #00aaff;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
}

.pond-form-container .image-upload:hover {
    background-color: #d9d9d9;
}

.pond-form-container form {
    display: flex;
    flex-direction: column;
}

.pond-form-container form div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.pond-form-container label {
    width: 30%;
    font-size: 23px;
    color: #666;
    text-align: left;
}

.pond-form-container input[type="text"],
.pond-form-container input[type="number"] {
    width: 65%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
}

.pond-form-container button {
    background-color: #00e676;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.pond-form-container button:hover {
    background-color: #00c853;
}
.pond-image-upload-container {
    margin-bottom: 20px;
    text-align: center;
}

.pond-image-upload {
    background-color: #eaeaea;
    padding: 60px 30px;
    border: 3px dashed #00aaff;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
}

.image-upload:hover {
    background-color: #d9d9d9;
}

.image-preview {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.change-image-button {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.change-image-button:hover {
    background-color: #0088cc;
}
