.salt-cal-page{
    padding: 10px;
}
.pond-name{
    h3{
        padding: 25px;
    }
}
.salt-cal{
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 100%;            
    text-align: center;
}