.header{
    background-color: rgb(27, 24, 24);
}



.header_logo{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    h1{
       a{
        color: white;
        text-decoration: none;
        text-shadow: 1px 1px 2px pink;
       }
    }
}
.header_menu{
    padding: 65px 0;

    ul{
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
.header_login{
    padding: 65px 0;
    display: flex;
    justify-content: end;
    div{
        padding: 0 5px;
    }
}
